/*sfb*/

.wkznzc2l {
    display: none !important;
}

.kuivcneq {
    display: none !important;
}

.bafdgad4 {
    display: none !important;
}

.aov4n071.cxmmr5t8.bi6gxh9e.hcukyx3x.jb3vyjys.hv4rvrfc.qt6c0cv9.dati1w0a {
    display: none !important;
}


.rj1gh0hx {
    max-width: -webkit-fill-available;
}

.j83agx80 {
    max-width: -webkit-fill-available;
}

._9gb7 {
    align-items: center;
    background: linear-gradient(84.06deg, #0088FF -28.62%, #A033FF 36.39%, #FF5C87 98.74%);
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 1.34;
    padding: 20px;
    display: none !important;
}